body{
    color:white;
    background: black;
    margin:0px;
    font-family: "Chakra Petch", sans-serif;
}

header{
    border-bottom:solid 2px rgb(13, 121, 13);
    padding: 20px;
    font-size: 32px;
    color:rgb(6, 117, 6);
}

.chamada {
    background:rgb(39, 66, 39)
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.camada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

img{
    height:200px;
}

.categoria-videos{
    display:flex;
    overflow-x: auto;
    gap:10px;
}

.categorias[
    padding-left:20px;
    padding-right:20px;
]